<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
  <title>PigLatinizeThis!</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <!-- Our CSS  -->
  <link href="css/all.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">IglAtinizepay histay!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://github.com/stereoit/sapho">GitHub</a></li>
      </ul>
    </div>
  </nav>
  <br />
  <div class="container">

    <div class="row">
        <div class="col">
          <div class="card large darken-1">
            <div class="card-content">
              <span class="card-title"> PigLatinize translator</span>
              <textarea id="plInput" placeholder="Type your text here..." class="materialize-textarea" required></textarea>
              <div id="translatedText"></div>
            </div>
          </div>
        </div>
      </div>

  </div>

  <!--  Scripts-->
  <script src="js/bundle.js"></script>

  </body>
</html>
