<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
  <title>PigLatinizeThis!</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <!-- Our CSS  -->
  <link href="css/all.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <div class="container">
    <h1>IglAtinizepay histay!</h1>

    <input placeholder="Original text" type="text"  value="" required>

    <div id="translatedText"></div>
  </div>

  <!--  Scripts-->
  <script src="js/all.js"></script>
  <script src="js/bundle.js"></script>

  </body>
</html>
